<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Farmers Data</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
  <body>
    <h1 data-position="header">Madiki Farmers Data</h1>

    <section data-position="add-quote">
      <h2>Add Farmer</h2>

      <form action="/farmers" method="POST">
		<table >
		<tr>  <td>Farmer Name: </td> <td><input type="text" placeholder="name" name="name" /></td> </tr>
		<tr>  <td>Phone Number: </td> <td><input type="text" placeholder="phone number" name="phone" /></td> </tr>
		<tr>  <td>Address: </td> <td><input type="text" placeholder="address" name="address" /></td> </tr>
		<tr>  <td>Land Owner Details: </td> <td><input type="text" placeholder="land owner" name="landowner" /></td> </tr>
		<tr>  <td colspan="2" style="text-align:center"><button type="submit">Add Farmer</button></td> </tr>
        </table>
      </form>
    </section>


    <section data-position="quotes">

	  <table id="updateTable">
	  <th>Name</th><th>Phone</th><th>Address</th><th>Land Owner</th><th></th>
        <% for(var i = 0; i < farmers.length; i++) {%>
		<tr id=<%= i %>>
          <td><input type="text" readOnly=true placeholder="name" name="uname" value = "<%= farmers[i].name %>"/></td>
          <td><input type="text" readOnly=true placeholder="phone number" name="uphone" value = "<%= farmers[i].phone %>"/></td>
		  <td><input type="text" readOnly=true placeholder="address" name="uaddress" value = "<%= farmers[i].address %>"/></td>
		  <td><input type="text" readOnly=true placeholder="land owner" name="ulandowner" value= "<%= farmers[i].landowner %>"/> </td>
		  <td> <button name="update-button-edit" onClick="editRecord(<%= i %>)">Edit</button> <button name="update-button" onClick="updateRecord(<%= i %>)" value= "<%= i %>">Update</button>  <button name="delete-button" onClick="deleteRecord('<%= farmers[i].phone %>')" >Delete</button></td>
		 </tr>
        <% } %>
    </section>

    <script src="/main.js"></script>
  </body>
</html>
